<!doctype html>
<html>

<head>
    <title>Clash Drawer - Legacy Clan</title>
    <link rel="stylesheet" href="/css/bootstrap.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

</head>

<body>
    <div class="container-fluid padding-0">
        <div class="col-xs-12 column-2 main-chat">
            <ul id="messages"></ul>

            <div class="container message-input">
                <div class="col-md-12">
                    <form action="">
                        <input id="m" autocomplete="off" placeholder="Your message" />
                        <input type="hidden" value="<%= user.username %>" id="user_local_username" name="user_local_username" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/livestamp/1.1.2/livestamp.js"></script>
    <script src="/js/inobounce.js" charset="utf-8"></script>
    <script src="/js/app.js" charset="utf-8"></script>

</body>
</html>
