@import url('fonts.css');
* {
    font-family: "CamphorStd" !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.glyphicon {
    font-family: 'Glyphicons Halflings' !important;
}

/* UTILITIES
 * ----------------------------------- */

.padding-0 {
    padding: 0;
}

/* LAYOUT
 * ----------------------------------- */

.column-1, .column-2, .column-3 {
    padding: 0;
}
.column-1 {
    border-right: 1px solid #bbb;
    border: 0;
}
.column-2.main-chat {
    position: relative;
    background: white;
    padding: 0;
}
.column-3 {
    border-left: 1px solid #bbb;
    border: 0;
}
.column-header {
    height: 40px;
    border-bottom: 1px solid #bbb;
    color: #666;
    line-height: 40px;
    padding-left: 15px;
    background-image: linear-gradient(-180deg, #2F3236 0%, #24272A 49%, #1B1E1F 100%);
    box-shadow: inset 0px -1px 0px 0px #141718, inset 0px 1px 0px 0px #3A3C41;
    border: 0;
}
.column-header h3 {
    font-weight: 400;
    float: left;
    color: white;
}

.column-header h3 span.small {
    font-size: 70%;
    font-weight: lighter;
    float: right;
    padding-left:10px;
    line-height:43px;
    margin-bottom: -5px;
}
.column-header-right {
    float: right;
    padding-right: 20px;
}

    .column-header-right .active-count,  .active-count img {
        color: white;
    }

/* NAV
 * ----------------------------------- */

.navbar {
    background: #1E222B;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
}
.navbar a {
    color: white;
    text-decoration: none;
}
.navbar .navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 1.4em;
    margin: 0;
}
.sign-in-btn {
    background-color: #DD3232;
    margin-top: 7px;
    font-weight: bold;
}

/* CLAN INFO
 * ----------------------------------- */

.clan-info {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.clan-logo {
    width: 30%;
    margin-left: 35%;
    padding-top: 30px;
}
.clan-name {
    text-align: center;
    color: black;
    margin-bottom: 10px;
}
.clan-info table {
    text-align: left;
    width: 100%;
}
.clan-info .dt {
    font-weight: bold;
    width: 50%;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 10px;
}
.clan-info .dd {
    margin-left: 50%;
    width: 50%;
    padding-left: 10px;
    margin-bottom: 10px;
}
#clan-members-list {
    padding: 10px 10%;
    text-align: center;
}
#clan-members-list span {
    line-height: 1.5em;
    display: inline-block;
    margin: 2px;
    padding: 0.2em .6em .1em .6em;
}
#clan-members-list span img {
    max-height: 30px;
    padding-right: 5px;
    margin-top: -3px;
}
.id29000016, .id29000017, .id29000016 {
    background: #B2321F;
}
.id29000015, .id29000014, .id29000013 {
    background: #191B1B;
}
.id29000012, .id29000011, .id29000010 {
    background: #6C1DE1;
}
.id29000009, .id29000008, .id29000007 {
    background: #D19635;
}
.id29000006, .id29000005, .id29000004 {
    background: #707882;
}
.id29000000 {
    -webkit-box-shadow: inset 0px 0px 30px 2px #999;
    -moz-box-shadow: inset 0px 0px 30px 2px #999;
    box-shadow: inset 0px 0px 30px 2px #999;
    color: black;
}

/* MESSAGES
 * ----------------------------------- */

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
#messages li {
    padding: 10px 10px;
}
.message-input {
    position: fixed;
    bottom: 0;
    width: inherit;
    padding: 10px;
    background: #F9F9F9;
    border-left: 1px solid #bbb;
    border-top: 1px solid #bbb;
}
.message-input > div.col-md-12 {
    padding: 0;
    background: white;
}
form {
    bottom: 0;
    width: 100%;
}
form input {
    border: 1px solid #bbb;
    border-radius: 5px;
    width: inherit;
    outline: none;
    height: 50px;
    padding-left: 10px;
}

.message-item {
    border-left:1px solid #bbb;
    position: relative;
}

.message-item.last-message-item {
    border-bottom: 1px solid #eee;
}

.message-item .container {
    width: 100%;
    padding-left: 5px;
}

.message-user {
    font-weight: bold;
    display:inline-block;
    padding:0; padding-right:1em;
    text-align: right;
}
    .message-user::after {
    }
.message-content {
    padding:0;
}
.message-date {
        float: right;
        color: #666;
        padding-right: 15px;
        text-align: right;
}
.message-user-status {
    content: "";
    background: #D7D6D6;
    border-radius: 50%;
    height: 8px; width:8px;
    display: inline-block;
    margin-right: 15px;
}

.message-user-status.online {
    background: #569056;
}
